
.bg1{
  background: linear-gradient(5deg, #ac8507,#ffd413) ;
  color: white !important;
}

.bg2{
  background: linear-gradient(5deg,#047055) ;
  color: white !important;
}

.border-1 {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

.border-2 {
--bs-border-opacity: 1;
border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}