

:root {
  --bs-primary-text-emphasis: rgb(255, 193, 7);
  --bs-border-width: 0px;
  --bs-border-radius: .7rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202023;
}

.accordion {
  --bs-accordion-active-bg: white;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0;
}

.accordion-button {
  padding: 0;
}
.accordion-button:not(.collapsed) {
  color: rgb(255, 193, 7);
}
.accordion-body {
  padding: 0;
}

.bg1 {
  background: linear-gradient(-15deg, #f89b29 0%, #ff0f7b 100%);
  color: white !important;
}

.bg2 {
  background: linear-gradient(5deg, #047055);
  color: white !important;
}

.bg-navbar {
  background-color: #000000e1;
}
.border-1 {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}
.numero{
  font-size: 4rem;
  }
.border-2 {
  --bs-border-opacity: 1;
  border-color: rgba(
    var(--bs-success-rgb),
    var(--bs-border-opacity)
  ) !important;
}
.card{
  --bs-card-cap-bg: rgba(var(--bs-body-color-rgb), 0.05);
}

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 200px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 5px;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  --bs-card-bg:"rgba(0,0,0,0)";
  justify-content:space-evenly
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover::before {
  height: 100%;
}

.card:hover {
  box-shadow: none;
}

.text-little{
  font-size: 0.7rem;
  color:rgba(255,255,255, .5);
}
.text-muted {
  color: rgba(var(--bs-body-color-rgb), .3) !important;
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

/* Efecto de desenfoque en el fondo */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px); /* Ajusta el valor de desenfoque según lo desees */
  z-index: -1; /* Coloca el fondo detrás de todo */
}